@import './theme.scss';

.rodape {
    display: flex;
    justify-content: space-around;
    background: $branco;
    padding: 3% 0;
    flex-shrink: 0;
    width: 100%;
}

.rodape__texto {
    color: $preto;
    font-size: 0.8rem;
    text-transform: lowercase;
    text-align: center;
}