@import './theme.scss';

.searcher {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.searcher__input {
  font-family: $lato;
  font-size: 1.6rem;
  appearance: none;
  border-radius: 1%;
  border: 2px solid $rosa;
  background-color: $preto;
  color: $branco;
  width: 100%;
  line-height: 25px;
  padding: 4%;
  transition: $transition;
  &::-webkit-search-cancel-button {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: $rosa;
    position: relative;
    right: 5px;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
  }
  &::-webkit-input-placeholder {
    font-size: 1.1rem;
    color: $branco;
    transform: translate3d(0,-4px,0);
    opacity: 0.3;
  };
  &:focus {
    appearance: none;
    box-shadow: 0 0 0 0;
    border: 2px solid $azul;
    outline: 0;
    &::placeholder {
      color: $azul;
    }
  }
}

