@import './theme.scss';

.summoner {
  color: $branco;
  font-family: $lato;
  text-shadow: $text-shadow;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  &:hover {
    cursor: default;
  }
}