@import './theme.scss';

.summoner {
  color: $branco;
  font-family: $lato;
  text-shadow: $text-shadow;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-grow: 1;
  &:hover {
    cursor: default;
  }
}

.summoner__icon {
  width: 120px;
  height: 120px;
  position: relative;
  transition: $transition;
}

.summoner__name {
  font-size: 1.5rem;
  margin: 1rem;   
  b {
    color: $rosa;
    transition: $transition;
    &:hover {
      color: $azul;
    }
  }
}

.summoner__tier {
  text-align: center;
  width: 120px;
  font-size: 0.7rem;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  font-weight: bold;
  line-height: 1.2rem;
  margin: -1% auto;
  background: $azul;
  transition: $transition;
  &:hover {
    background: $rosa;
  }
}

.summoner__level {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  b {
    color: $azul;
    transition: $transition;
    &:hover {
      color: $rosa;
    }
  }
}

.summoner__button {
  color: $branco;
  align-items: center;
  background: $rosa;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  line-height: 1;
  margin: 5% 0;
  outline: none;
  overflow: hidden;
  padding: 2%;
  text-decoration: none;
  text-transform: lowercase;
  transition: $transition;
  white-space: nowrap;
  &:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    background-color: $azul;
    opacity: .85;
  }
  &:active {
    outline: 0;
  }
  &:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
  }
}
