$font: Lato, sans-serif;
$rosa: #FF2254;
$azul: #05C9FF;
$branco: #f7f7f7;

.searcher {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
}

.searcher__box {	
	input[type="text"] {
		font-family: $font;
		border: none;
		background: none;
		z-index: 1;
		width: 50px;
		height: 20px;
		transition: all .25s ease-in .25s;
		color: transparent;
		font-size: 1.2rem;
		line-height:25px;
		&::placeholder {
			opacity: 0;
		}
		&:hover {
			cursor: pointer;
			&:focus {
				cursor: text;
			}
		}
		&:focus {
			width: 200px;
			padding: 5% 3%;
			outline: none;
			color: black;
			background:none;
			color: $branco;
			+ span {
				width: 200px;
				&::before {
					width:2px;
					opacity: 0;
					transition: all .25s ease-in;
				}
				&::placeholder {
					opacity: 1;
				}
			}
		}
		+ span {
			z-index: -1;
			position: absolute;
			border: 2px solid $branco;
			top: 0;
			width: 25px;
			height: 25px;
			transition: all .25s ease-in .25s;
			border-radius: 25px;
			left: 0;
			&::before {
				transition: all .25s ease-in .5s;
				transform-origin: left top;
				content: '';
				position: absolute;
				width: 10px;
				height: 5px;
				border-radius: 5px;
				background: $branco;
				transform: rotate(45deg) translate(26px, -2px);
			}
			
		}
	}
}